<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Engine</title>
  </head>

  <body>
    <nav>
      <li>
        <ul>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
        </ul>
      </li>
    </nav>

    <h1><%= title %></h1>
    <%= new Date().toString() %> <% if(post.condition) { %>
    <h1><%= post.title %></h1>
    <h1><%= post.body %></h1>
    <% } else { %>
    <h1>Post is not yet published</h1>
    <% } %>

    <ul>
      <% for (let p of posts) { %>
      <li><%= p.title %> by <%= p.author %></li>
      <% } %>
    </ul>
  </body>
</html>
